.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #c9e9ab;
    height: 150%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #005a2a;
    color: white;
    padding: 15px;
    bottom: 0px
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#map {
    height: 600px;
}

#whatwedo {
    width: 50%;
    margin: auto;
}

/* Give space around picture on user profile page */
#profile_prof_pic_content {
    margin: 15px;
}

#profile {
    text-align: left;
    margin: 5%;
    display: block;
    float: left;
    width: 50%;
}

.profile_label {
    font-weight: bold;
}

#prof_pic {
    margin-right: 10px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

#profile_new_pic_button {
    background: #e3dde087 !important;
    border-color: rgba(203, 200, 202, 0.53) !important;
    border: 1px !important;
    border-radius: 10px !important;
    padding: 10px;
    margin-bottom: 10px;
}

#profile_prof_pic_content {
    display: flex;
    flex-flow: row;
    vertical-align: middle;
}

#profile button {
    background: rgba(0,0,0,0.0);
    border: none;
}

#profile_prof_desc_display {
    overflow: hidden;
    word-wrap: break-word;
}

.profile_hidden {
    display: none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.addButt {
    background-color: #8f8d8e87;
    width: 450px;
    height: 75px;
    text-align: center;
    padding: 20px;
  }
  
  .scroll {
    background-color: #8f8d8e87;
    width: 450px;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }
  
  .postDisp {
    background-color:  #47a6f9c0;
    border: 2px solid black;
    outline:#3379b7c0 10px;
    width: 410px;
    height: 250px;
    text-align: center;
    padding-left: 40px;
  }


  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #game-board {
    background-color: rgb(0, 0, 0);
    background-image: repeating-linear-gradient(-45deg, rgba(4, 118, 10, 0.04), rgba(28, 101, 38, 0.04) 6px, transparent 7px, transparent 10px);
    background-size: 120px 120px;
    width: 930px;
    height: 550px;
    display: grid; 
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);  
    border-right: .3vmin solid rgb(113, 121, 115);
    border-left: .3vmin solid rgb(113, 121, 115); 

}

.snake {
    background-image:  linear-gradient(135deg, #074501 25%, transparent 25%), linear-gradient(225deg, #0a6304 25%, transparent 25%), linear-gradient(45deg, #096602 25%, transparent 25%), linear-gradient(315deg, #0b8103 25%, #021e01 25%);
    background-position:  7.7px 0, 7.7px 0, 0 0, 0 0;
    background-size: 7.7px 7.7px;
    background-repeat: repeat;
    border: .2vmin solid rgb(2, 104, 17);
}

.food{
    width:25px;
    height:25px;
    background-color:  #ff4355;
    box-shadow: inset 5px -5px  #cc1022;
    border-radius: 12px 12px 13px 13px;
}