.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#map {
    height: 600px;
}

#profile {
    text-align: left;
    margin: 5%;
    display: block;
    float: left;
    width: 50%;
}

.profile_label {
    font-weight: bold;
}

#prof_pic {
    margin-right: 10px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}

#profile_new_pic_button {
    background: #e3dde087 !important;
    border-color: rgba(203, 200, 202, 0.53) !important;
    border: 1px !important;
    border-radius: 10px !important;
    padding: 10px;
    margin-bottom: 10px;
}

#profile_prof_pic_content {
    display: flex;
    flex-flow: row;
    vertical-align: middle;
}

#profile button {
    background: rgba(0,0,0,0.0);
    border: none;
}

#profile_prof_desc_display {
    overflow: hidden;
    word-wrap: break-word;
}

.profile_hidden {
    display: none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.addButt {
    background-color: #8f8d8e87;
    width: 450px;
    height: 75px;
    text-align: center;
    padding: 20px;
  }
  
  .scroll {
    background-color: #8f8d8e87;
    width: 450px;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }
  
  .postDisp {
    background-color:  #c2d7e9c0;
    border: 2px solid black;
    outline:#3379b7c0 10px;
    width: 410px;
    height: 100px;
    text-align: center;
    padding: 40px;
  }