
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}
      
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
      


#map { 
  height: 600px; 
}

.hide {
  display: none;
}


.addButt {
  background-color: #8f8d8e87;
  top: 50px;
  width: 450px;
  height: 75px;
  text-align: center;
  padding: 20px;
}

.scroll {
  background-color: #8f8d8e87;
  width: 450px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.postDisp {
  background-color:  #c2d7e9c0;
  border: 2px solid black;
  outline:#3379b7c0 solid 5px;
  width: 400px;
  height: 150px;
  text-align: left;
  padding: 20px;
}