
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}
      
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
      


#map { 
  height: 600px; 
}

.hide {
  display: none;
}


.addButt {
  background-color: #005a2a;
  top: 50px;
  width: 450px;
  height: 75px;
  text-align: center;
  padding: 20px;
}

.scroll {
  background-color: #005a2a;
  width: 450px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.postDisp {
  background-color:  #c9e9ab;
  border: 2px solid black;
  outline:#ea9e00 solid 5px;
  width: 400px;
  text-align: left;
  padding: 5px;
}

.postDisp img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
}