{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<p>Hello! <br> We hope you are enjoying our site! </p>

<br><br>

<form method="POST"
              action=
    "mailto: ducksvstheworld@gmail.com"
              enctype="multipart/form-data">
            <div class="control">
                Name:
                    <input aria-required=""
                        id="name"
                        type="text" />
            </div>
            <br>
            <div class="control">
                 Subject:
                <input aria-required=""
                       id="mobile_number"
                       type="tel" />
            </div>
            <br>
            <div class="control">
                Suggestion: <br>
                <textarea rows="7"
                          cols="30"
                          name="comment">
                </textarea>
            </div>
            <br>
            <div class="control">
                <input type="submit"
                       value="Submit" />
            </div>
        </form>

<script>
    document.getElementById("game_page").className = "";
    document.getElementById("home_page").className = "";
    document.getElementById("map_page").className = "";
    document.getElementById("about_page").className = "active";
</script>
{% endblock %}
