{% extends "app/layout.html" %}

{% block content %}

        <div class="col-sm-8 text-left">
          <div class="container-fluid text-center">    
            <div class="row content">
              <div class="col-sm-8 text-left"> 
                  <button data-toggle="collapse" class="btn btn-primary" type="button" data-target="#gameSurvivor" aria-expanded="false" aria-controls="collapseExample">
                    <!--<a href="{% url 'game_1' %}">Game 1</a>-->
                    Game 1
                  </button>
                  <tab>
                  <button data-toggle="collapse" class="btn btn-primary" type="button" data-target="#gameSnake" aria-expanded="false" aria-controls="collapseExample">
                    <!--<a href="{% url 'game_survivor' %}">GAME 1 EMBED</a> -->
                    Game 2
                  </button>                
              </div>
               
                
                <div class="collapse" id="gameSurvivor">
                    <iframe id="inlineFrameExample"
                      title="Inline Frame Example"
                      width="900"
                      height="600"
                      src="http://www.schillmania.com/survivor/">
                    </iframe>
                </div>
              

              <div class="collapse" id="gameSnake">
                <h2> COMING SOON! </h2>
              </div>

            </div>
          </div>
        </div>

        {% endblock %}

        {% block scripts %}

        {% load static %}
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

        {% endblock %}