{% if request.session.uid %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ request.session.email }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li><a href="/profile/">User Profile</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a href="/signup/">Sign up</a></li>
</ul>
   

{% endif %}
