<!DOCTYPE html>
<html lang="en">
<body>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>
  <link rel= "stylesheet" type= "text/css" href="../../static/app/content/styles_map.css">

  
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        {% load static %}
      <img src="{% static 'app/fonts/images.jpg' %}" alt="Duck Recycle Logo"style="width:50px;height:50px;">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'game' %}">Game</a></li>
                    <li class="active"><a href="{% url 'map' %}">Map</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
        </ul>
        {% include 'app/loginpartial.html' %}
      </div>
    </div>
  </nav>


<div class="container-fluid text-center">    
    <div class="row content">
        <div class="col-sm-8 text-left">
            <h1>Add to or explore the map</h1>
            <div class="pointSelect">
                <div id="map"></div>
            </div>

        </div>

        {% if request.session.uid %}
        <!-- How to extend this to the edge of the screen?-->
        <div class="col-sm-2 sidenav">
            <div class="addButt">
                <!-- <div class=""></div> -->
                <button onclick="addSelected()" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#newPinForm" aria-expanded="false" aria-controls="collapseExample">
                    Add Pin
                </button>
                <div class="collapse" id="newPinForm">
                    <form action="/add_pin/" method="POST">
                        <!-- {% csrf_token %} -->
                        {% csrf_token %}
                        <br><br><br>
                        <div class="form-group">
                            <label for="pinName">Pin Name</label>
                            <input type="text" class="form-control" id="pinName" placeholder="Pin Name" name="pin_name" required>
                        </div>
                        <div class="form-group">
                            <label for="pinType">Type of Pin</label>
                            <select class="form-control" id="pinType" name="pin_type_str" placeholder="Select" onclick="assignPoints()" required>
                                <option value="1">Cleaned Up</option>
                                <option value="2">Needs Work</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pinAddress">Address</label>
                            <input type="text" class="form-control" id="pinAddress" placeholder="Address" name="pin_addr" required>
                        </div>
                        <div class="form-group">
                            <label for="pinDate">Date</label>
                            <input type="date" id="pinDate" name="pin_date" placeholder="dd-mm-yyyy" value="" min="2022-01-01" max="2030-12-31" required>
                        </div>
                        <!-- need to add the date and time inputs for the pins.-->
                        <div class="form-group">
                            <label for="pinDesc">Description</label>
                            <textarea class="form-control" id="pinDesc" rows="3" name="pin_desc" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="locationSelect">Click on the map for location!</label>
                            <div id="hide" class="hide">
                                <input id="latCoord" name="pin_lat" required>
                                <input id="lngCoord" name="pin_lng" required>
                                <input id="pinPoints" name="pin_points" value="600">
                            </div>
                        </div>
                        
                        <div>
                            <input id="submitNewPin" type="submit" onclick=clearMarker()>
                        </div>
                    </form>
                </div>
            </div>

            {% else %}
            <div>
                <h1 id="map-login"> <a href="/login/">Log in</a><br />to post</h1>
            </div>
            {% endif %}
            <br><br>
            <div class="scroll" id="postsScroll">

            </div>


        </div>
    </div>
</div>

<script>
  var curr_pins = JSON.parse("{{curr_pins|escapejs}}");
  console.log(curr_pins);
</script>
<script type="text/javascript" src="../../static/app/modules/map.js"></script>


</body>
</html>