{% extends "app/layout.html" %}

{% block content %}

<h2>Sign up</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="/postsignup/" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4 class="validation-summary-errors">{{ message }}</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">{{form.email.label}}</label>
                    <div class="col-md-10">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_firstname" class="col-md-2 control-label">{{form.first_name.label}}</label>
                    <div class="col-md-10">
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_lastname" class="col-md-2 control-label">{{form.last_name.label}}</label>
                    <div class="col-md-10">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">{{form.password1.label}}</label>
                    <div class="col-md-10">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">{{form.password2.label}}</label>
                    <div class="col-md-10">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Sign up" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
