{% extends "app/layout.html" %}

{% block content %}
<title>{{ title }}</title>

<div id="whatwedo">
    <h2>What We Do</h2>
    <p>
        We really hope you have been liking our website so far! To tell you the truth, it all began as a joke between 5 college students trying to create a cool project. However, it has grown to be so much more than that. Did you know that Approximately 43% of Americans admit to littering at least once?? We bet you didn’t know that alongside American highways there are roughly 52 billion pieces of litter!!
        We created this website because we hope that more people will volunteer to clean up the environment. We thank you for being a part of that change and we hope that you will keep coming back and tell your friends about us!
    </p>
</div>


{% endblock %}
